/* 依照电脑分辨率率的基础值 */
/* 导航 */
.nav ul {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 2.60416667vw;
  background-color: #1AB5DD;
  color: #E5E7E9;
  font-size: 0.10416667rem;
  text-align: center;
  align-items: center;
  padding: 0 6.25vw;
  /* 头像 */
}
.nav ul #head {
  display: flex;
  flex: 1;
}
.nav ul #head P {
  padding-left: 0.52083333vw;
  text-align: center;
  line-height: 2.60416667vw;
}
.nav ul #head P a {
  color: #E5E7E9;
}
.nav ul #head p:hover + .txt {
  display: block;
}
.introduce {
  margin-top: 10.41666667vw;
  text-align: center;
}
.introduce p:nth-child(1) {
  font-weight: 400;
  font-family: 'Courier New', Courier, monospace;
}
.introduce p {
  font-size: 0.10416667rem;
}
body {
  background-color: #E5E7E9;
}
@media screen and (max-width: 992px) {
  .introduce p {
    font-size: 0.41666667rem;
  }
  .nav ul {
    width: 100vw;
    height: 10.41666667vw;
    font-size: 0.52083333rem;
    line-height: 10.41666667vw;
  }
}
