// out: ../css/
/* 依照电脑分辨率率的基础值 */
@rootSize:19.2vw;
@fontSize:192rem;
/* 导航 */
.nav ul{
    display:flex;
    justify-content: space-between;
    width: (1920 / @rootSize);
    height: (50 / @rootSize);
    background-color: #1AB5DD;
    color: #E5E7E9;
    font-size: (20 / @fontSize);
    text-align: center;
    align-items: center;
    padding: 0 (120 / @rootSize);
    /* 头像 */
    #head{
        display: flex;
        flex: 1;
        // 主页文字
        P {
            padding-left: (10 / @rootSize);
            text-align: center;
            line-height: (50 / @rootSize);
            a {
                color: #E5E7E9;
            }
        }
        p:hover+.txt {
            display: block;
        }
    }
    /* 主页和关于的设置 */
    #web,
    #about{
        padding-right: (20 / @rootSize);
        overflow: hidden;
        a {
            color: #EAEDED;
            span {
                font-size: (20 / @fontSize);
                padding: (5 / @rootSize);
            }
            // 滑动条
            hr {
                border: 1px solid #46E4B7;
                background-color:#46E4B7;
                color:#46E4B7;
                height: (3 / @rootSize);
                transform: translateX(-76px);
                transition: all 0.2s;
            }
        }
        a:hover {
            color: #FDFEFE;
        }
        // 滑动条
        a:hover hr{
            transform: translateX(0px);
        }
    }

    /* 关于的额外设置 */
    #about {
        a {
            hr {
                transform: translateX(-95px);
            }
        }
    }
}
// 介绍
.introduce {
    margin-top: (200 / @rootSize);
    text-align: center;
    p:nth-child(1) {
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
    }
    p { 
        font-size: (20 / @fontSize);
    }
}
body {
    background-color:#E5E7E9;
}

@media screen and (max-width:992px) {
    .introduce {
        p { 
            font-size: (80 / @fontSize);
        }
    }
}